{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/assets/input.css">
    <title>Hire and Seek</title>
</head>
<!-- class="w-10 h-8 "  -->
<body class="bg-[#f3f2ef] dark:bg-black">
    <div class="nav flex flex-row space-x-2 justify-center py-5 cursor-pointer " onclick="window.location='/'">
        <span class="logo flex flex-col justify-center"><img src="/static/image/linkedin_logo.png" alt="logo"
            style="margin-right: 5px;height: 50px;width: 70px;"onclick="window.location='/'"></span>
        <span class="txt text-4xl font-bold dt">Hire and Seek</span>
    </div>

    

    <!-- SignUp First Page -->
    <div class="w-full ">
        <div class="flex flex-row justify-center">
            <p class="text-xl font font-semibold px-4 py-2 mt-6 dtl">Your Profile makes you able to discover more peoples and
                opportunities</p>
        </div>
    <div class="firstPage form flex flex-row justify-center w-full mt-5 py-3 ">

        <form action="/signup_company/" method="post"
            class="w-[80%] md:w-[50%]   ">
            {% csrf_token %}
            <div id="firstPage"  class="signup_modal">
                <div class="style flex flex-col db dt dbr border-2 space-y-3  rounded-lg  border-gray-300  bg-white px-6 pb-24 pt-10 justify-center">
                    
                    <input required  type="text" id="name" name="company_name" placeholder="Company Name"
                        class="rounded-lg bg-gray-200    db dt dbr focus:border-2 focus:border-blue-500 px-5 py-2 ">
                    <input required  type="email" id="email" name="email" placeholder="Your Email"
                        class="rounded-lg bg-gray-200    db dt dbr focus:border-2 focus:border-blue-500 px-5 py-2 ">
                    <input required  type="email"  id="confemail" name="confemail" placeholder="Confirm your email"
                        class="rounded-lg bg-gray-200    db dt dbr focus:border-2 focus:border-blue-500 px-5 py-2 ">
                    <input required  type="password" id="password" name="password" placeholder="Password"
                        class="rounded-lg bg-gray-200    db dt dbr focus:ring-blue-400 focus:ring-1 px-5 py-2 ">
                    <input required  type="password" id="confpassword" name="confpassword" placeholder="Confirm your Password"
                        class="rounded-lg bg-gray-200    db dt dbr focus:border-2 focus:border-blue-500 px-5 py-2 ">
                    <div class="flex flex-row justify-around">
                        <div class="w-[70%]"></div>
                        <div class="flex flex-row space-x-1">
                            <button type="reset"
                            class="mx-auto bg-red-800 text-white hover:bg-red-500 active:bg-red-800 rounded-lg px-4 py-2">reset</button>
                        <div onclick="sgnup()"
                            class="mx-auto bg-blue-800 text-white hover:bg-blue-500 active:bg-blue-800 rounded-lg px-4 py-2 cursor-pointer"><a>Next</a></div>
                        </div>
                        
                    </div>
                    <!-- <a href="/login.html?q=forget_password" class="text-sm text-gray-500 text-center">Forget Password</a> -->
                    <a href="/login_company/" class="text-sm text-blue-500 text-center">Already a member?Login</a>
        
                </div>
                </div>
            <div id="educationPage" class="education_modal hidden">
                <div class="style  flex flex-col db dt dbr border-2 space-y-3  rounded-lg  border-gray-300  bg-white px-6 pb-24 pt-10 justify-center ">
                    <input required  type="text" name="domain" placeholder="Your Domain" 
                    class="rounded-lg db dt bg-gray-200 dbr  db dt dbr focus:border-2 focus:border-blue-500 px-5 py-2 ">
    
                    <input required  type="text" name="linkedin" placeholder="Your linkedin profile" 
                    class="rounded-lg db dt bg-gray-200 dbr  db dt dbr focus:border-2 focus:border-blue-500 px-5 py-2 ">
    
               
                <input required  type="text" name="establish_year" placeholder="Establish Year" pattern="[0-9]{4}" title="Ex:2003"
                    class="rounded-lg db dt bg-gray-200 dbr  db dt dbr focus:border-2 focus:border-blue-500 px-5 py-2 ">
                    
                <input required  type="text" name="type_of_company" placeholder="Type Of Buiseness" 
                    class="rounded-lg db dt bg-gray-200 dbr  db dt dbr focus:ring-blue-400 focus:ring-1 px-5 py-2 ">
                <input required  type="text" name="location" placeholder="location" 
                    class="rounded-lg db dt bg-gray-200 dbr  db dt dbr focus:ring-blue-400 focus:ring-1 px-5 py-2 ">
                  
                   
                    
                    <div class="flex flex-row dt db bg-white rounded-md px-10 py-5 border-2 border-gray-200 text-sm">
                        <label for="age">Agree terms and condition</label><span class="text-red-800 font-bold">*</span> 
                        <div class="w-3/5"></div>
                    <input required  type="checkbox" name="age" id="age" class="w-5 h-5" >
                    </div>
    
                    
                <div class="flex flex-col-reverse sm:flex-row sm:justify-around pt-4">
                    <div class="text-gray-600 flex flex-col justify-center">
                        <a href="/signup/" class="block text-left">Back</a>
                    </div>
                    <div class="flex flex-col sm:flex-row sm:justify-end space-x-1 sm:text-right">
                        <button type="reset"
                            class="mx-auto bg-red-800 text-white hover:bg-red-500 active:bg-red-800 rounded-lg px-4 py-2 w-full sm:w-fit my-1">reset</button>
                            <button type="submit"
                            class="mx-auto bg-blue-800 text-white hover:bg-blue-500 active:bg-blue-800 rounded-lg px-4 py-2 w-full sm:w-fit my-1">Sign Up</button>
                    </div>
                </div>
                </div>
            </div>
        </form>
    </div>
</div>
    
   
    <!-- your profile -->
    <!-- footer -->
    <div class="flex flex-row justify-center mx-auto text-sm dark:text-gray-500 relative bottom-0 mt-52 mb-5">
        <span class="">Copyright© Hire and Seek 2021-2022</span>
    </div>
    <!-- footer -->
    <script>

        firstPage = document.getElementById('firstPage')
        educationPage = document.getElementById('educationPage')
        check = document.getElementById('age')
        intrest = document.getElementById('intrest')
        // console.log(check.value);
       
        const params = new URLSearchParams(window.location.search)
       
        if (params.has('q')) {
           
            
            if (params.get('q') == "intrest") {
                firstPage.classList.add('hidden');
                educationPage.classList.add('hidden');
                intrest.classList.remove('hidden');

            }
            
        }
        sgnup=()=> {
                firstPage.classList.toggle('hidden');
                educationPage.classList.toggle('hidden');
                em=document.getElementById('email').value;
                confem=document.getElementById('confemail').value;
                pwd=document.getElementById('password').value;
                confpwd=document.getElementById('confpassword').value;
                if(em!=confem||pwd!=confpwd){
                    alert("Email or Password is not matched")
                    window.location='/signup_company/';
                }
            }
       
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (localStorage.theme === 'dark') {
        document.documentElement.classList.add('dark')
        } else {
        document.documentElement.classList.remove('dark')
        }

     
    </script>
</body>

</html>